In [ ]:
num = 47
type(num)

int

In [2]:
print(type(num))

<class 'int'>

In [ ]:
num = 47.23
type(num)
print(type(num))

<class 'float'>

In [7]:
bol = True
type(bol)
print(type(bol))

<class 'bool'>

In [24]:
str = 'ETLHive'
type(str )
print(type(str))

<class 'str'>

In [44]:
d = {'name': ['Hims','Seeta','Geeta'], 'Occupation': ['Data analyst','Doctor', 'Engineer'], 'salary': [1,2,3]}
print(type(d))

<class 'dict'>

In [45]:
import pandas as pdf

In [46]:
df = pdf.DataFrame(d)

In [47]:
df

    name    Occupation  salary
0   Hims  Data analyst       1
1  Seeta        Doctor       2
2  Geeta      Engineer       3

In [48]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [49]:
print(type(df.name))

<class 'pandas.core.series.Series'>

In [50]:
#Attributes
df.shape

(3, 3)

In [51]:
df.columns

Index(['name', 'Occupation', 'salary'], dtype='object')

In [52]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [53]:
list(df.index)

[0, 1, 2]

In [54]:
df.size

9

In [55]:
df.values

array([['Hims', 'Data analyst', 1],
       ['Seeta', 'Doctor', 2],
       ['Geeta', 'Engineer', 3]], dtype=object)

In [56]:
df.dtypes

name          object
Occupation    object
salary         int64
dtype: object

In [40]:
#functions
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        3 non-null      object
 1   Occupation  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes

In [58]:
df.groupby('name').salary.mean()

name
Geeta    3.0
Hims     1.0
Seeta    2.0
Name: salary, dtype: float64

In [59]:
print(df.salary.mean())

2.0

In [60]:
print(df.salary.sum())

6

In [73]:
class person:
    def __init__(self, name, age, gender, occupation):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation
    def talk(self): 
        print(f'my name is:{self.name}') 
        print(f'my age is:{self.age}') 
        print(f'gender is:{self.gender}') 
        print(f'occupation is:{self.occupation}')

In [75]:
p1 = person(name = 'HimaniS', age= 28, gender= 'female', occupation= 'data analyst')

In [76]:
p1

In [79]:
p1.name

'HimaniS'

In [80]:
p1.occupation

'data analyst'

In [81]:
p1.gender

'female'

In [82]:
p1.age

28

In [83]:
p1.talk()

my name is:HimaniS
my age is:28
gender is:female
occupation is:data analyst

In [84]:
p2 = person(name = 'Vandu', age= 30, gender= 'female', occupation= 'doctor')

In [85]:
p2.talk()

my name is:Vandu
my age is:30
gender is:female
occupation is:doctor

In [86]:
p2.occupation

'doctor'

In [101]:
from dataclasses import dataclass
from typing import Literal

In [108]:
@dataclass
class student:
    name : str
    age : int
    marks : float | int
    hobbies : list[str]
    gender : Literal['male', 'female']

    def get_info(self):
        print(f'my name is:{self.name}') 
        print(f'my age is:{self.age}') 
        print(f'gender is:{self.marks}') 
        print(f'occupation is:{self.hobbies}')
        print(f'gender is:{self.gender}')

In [109]:
s1 = student(name = 'Vanshu', age= 17, gender= 'female', hobbies = 'reading', marks = 99)

In [110]:
s1

student(name='Vanshu', age=17, marks=99, hobbies='reading', gender='female')

In [112]:
s1.name

'Vanshu'

In [114]:
s1.marks

99

In [115]:
s1.get_info()

my name is:Vanshu
my age is:17
gender is:99
occupation is:reading
gender is:female

In [153]:
@dataclass
class Account:
    ac_no : int
    ac_name : str
    bal : int| float

    def check_balance(self):
        print(f'current account balance is:{self.bal}')

    def deposit(self, amt: int|float):
        print(f'amount deposited in account:{self.ac_no}') 
        self.bal = self.bal + amt
        self.check_balance()

    def withdraw(self, amt: int|float):
        if self.bal < amt:
            print('insufficient balance')
        else: 
            self.bal = self.bal - amt
            print(f'amount withdrawn is {amt}')
            self.check_balance()

    def transfer(self, amt: int|float, ac = 'Account'):
        self.withdraw(amt)
        ac.deposit(amt)

In [156]:
a1 = Account(123, 'JSB', 50000)

In [157]:
a1.deposit(200)

amount deposited in account:123
current account balance is:50200

In [158]:
a1.withdraw(200)

amount withdrawn is 200
current account balance is:50000

In [159]:
a1.transfer(3000)

amount withdrawn is 3000
current account balance is:47000

AttributeError: 'str' object has no attribute 'deposit'

In [155]:
a2 = Account(234, 'asd', 300)

In [161]:
a1.check_balance()

current account balance is:47000

In [162]:
a2.check_balance()

current account balance is:300

In [163]:
a1.transfer(3000, a2)

amount withdrawn is 3000
current account balance is:44000
amount deposited in account:234
current account balance is:3300

In [ ]:
@dataclass
class Triangle:
    height : int
    base : int
    area : int
    
    def area_of_triangle(self):
      self.area = 0.5 * self.height * self.base
      print(f'area of triangle is:{self.area}')

In [181]:
a1.area_of_triangle(0.5, 3,2)

AttributeError: 'Account' object has no attribute 'area_of_triangle'